<% if @sighting.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
<a class="smallWrapper" href="/species/new"><button>Add/remove species</button></a>
<a class="smallWrapper" href="/regions/new"><button>Add/remove regions</button></a>
<form class="form-inline smallWrapper" action="/sightings/new" method="post">
  <select class="form-control" id="species_id" name="sighting[species_id]" type="number">
   <% @species.each do |species| %>
    <option value="<%= species.id %>" ><%= species.name %></option>
  <% end %>
  </select>

  <select class="form-control" id="region" name="sighting[region_id]" type="number">
   <% @regions.each do |region| %>
    <option value="<%= region.id %>" ><%= region.name %></option>
  <% end %>
  </select>

  <input class="form-control" id="location" name="sighting[locaton]" type="text" placeholder="location">

  <input class="form-control" id="date" name="sighting[date]" type="date" placeholder="YYYY-MM-DD">
  <input class="form-control" id="time" name="sighting[time]" type="time" placeholder="HH:MM:SS">

  <button class="btn btn-primary" type="submit">submit sighting</button>
</form>
<br>
<table class="table table-striped table-hover">
  <tr>
    <td>Species</td>
    <td>region</td>
    <td>location</td>
    <td>Date</td>
    <td>time</td>
    <td></td>
  </tr>
  <% @sightings.each do |sighting| %>

    <tr>
      <td><%= @species.find_by(:id => sighting.species_id).name %></td>
      <td><%= @regions.find_by(:id => sighting.region_id).name %></td>
      <td><%= sighting.locaton %></td>
      <td><%= sighting.date %></td>
      <td><%= sighting.time.strftime("%H:%M") %></td>
      <td><a data-method="delete" href="/sightings/<%= sighting.id %>"><button class="btn btn-danger">delete</button></a><td>
    </tr>
  <% end %>
</table>
